@model HomeDetallesPeliculaViewModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div id="verpelicula">
    <img asp-append-version src="~/Imagenes/Peliculas/@(Model.Pelicula.Id).jpg">
    <div id="informacion">
        <h2>@Model.Pelicula.Titulo</h2>
        <p id="clasificacion">@Model.Pelicula.Clasificacion.Nombre</p>
        <p id="genero">@Model.Pelicula.IdGeneroNavigation.Nombre</p>
        <div id="fecha">
            <img src="~/fecha.png">
            <p>@Model.Pelicula.FechaLanzamiento.ToShortDateString()</p>
        </div>

        <div id="duracion">
            <img src="~/duracion.png">
            <p>@Model.Pelicula.Duracion min</p>
        </div>

        <div id="calificacion">
            <img src="~/estrella.png">
            <p>@Model.Pelicula.CalificacionPromedio %</p>
        </div>
        <p id="sinopsis">
            @Model.Pelicula.Sinopsis
        </p>
    </div>
</div>

<div id="datosadicionales">
    <div id="datos">
        <p id="director">Director:&nbsp;  <span>@Model.Pelicula.Director</span>
        <p id="plataformas">Plataforma:&nbsp; <span>@Model.Pelicula.Plataforma.Nombre</span></p>
    </div>
    <div id="trailer">
        <img src="~/youtube.png">
        <div id="datos">
            <h3>YouTube</h3>
            <p>Mira el trailer aqui</p>
        </div>
        <a href="@Model.Pelicula.UrlTrailer" target="_blank">
            <input type="button" value="Mirar trailer" />
        </a>
    </div>
</div>

<h4 id="reparto"> Reparto Principal</h4>
<div id="listadoactores">

    @foreach (var a in Model.Pelicula.Participacion)
    {
        <div class="actor">
            <img asp-append-version src="~/Imagenes/Actores/@(a.IdActorNavigation.Id).jpg">
            <div class="papel">
                <a href="~/VerActor/@a.IdActorNavigation.Nombre.Replace(" ", "-")" class="nombre">@a.IdActorNavigation.Nombre</a>
                <p class="personaje">@a.Personaje</p>
            </div>
        </div>
    }

</div>

@if (User.IsInRole("Critico"))
{
    <div id="tituloreseña">
        <h3>Reseñas</h3>
        @if(Model.TieneReseña == true)
        {
            <a href="~/Reseñas/Agregar/@Model.Pelicula.Titulo.Replace(" ", "-")">
                <input type="button" value="Ver mi reseña" href />
            </a>
        }
        else
        {
            <a href="~/Reseñas/Agregar/@Model.Pelicula.Titulo.Replace(" ", "-")">
                <input type="button" value="Realizar reseña" href />
            </a>
        }

    </div>
}

<div id="listareseñas">

    @foreach (var r in Model.Pelicula.Reseña)
    {
    <div class="reseña">
        <div class="principal">
            <p class="nota">@r.Calificacion</p>
            <h4>@r.IdUsuarioNavigation.Nombre</h4>
            <p class="fechareseña">@r.Fecha.ToShortDateString()</p>
        </div>
        <p>
         @r.Comentario
        </p>
    </div>      
    }

</div>

