@model AdminHomeViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container">
    <h1 class="p-4">Estadísticas</h1>
    <section class="container d-flex gap-4 justify-content-center flex-wrap mt-4 py-4">
        <div class="estadisticasTotal d-flex flex-column justify-content-center">
            <i class='bx bxs-camera-movie icono-estadistica'></i>
            <h4>Total de peliculas</h4>
            <span>@Model.TotalPeliculas</span>
        </div>
        <div class="estadisticasTotal d-flex flex-column justify-content-center">
            <i class='bx bxs-user icono-estadistica'></i>
            <h4>Total de actores</h4>
            <span>@Model.TotalActores</span>
        </div>
        <div class="estadisticasTotal d-flex flex-column justify-content-center">
            <i class='bx bxs-video icono-estadistica'></i>
            <h4>Total de plataformas</h4>
            <span>@Model.TotalPlataformas</span>
        </div>
    </section>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <h4 class="mb-4 pt-4 pb-2">Ultimas peliculas agregadas</h4>
            <table class="table table-striped table-boxshadow" id="tabla1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Poster</th>
                        <th scope="col">Título</th>
                        <th scope="col">Plataforma</th>
                        <th scope="col">Clasificación</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var p in Model.UltimasPeliculasAgregadas)
                    {

                        <tr>
                            <td>@(i++)</td>
                            <td>
                                <img asp-append-version src="~/Imagenes/Peliculas/@(p.Id).jpg"
                                     style="width:80px; height:100px;  border-radius: 10px; background-color: #184463;">
                            </td>
                            <td>@p.Titulo</td>
                            <td>@p.Plataforma</td>
                            <td>@p.Clasificacion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h4 class="mb-4 pt-4 pb-2">Ultimos actores agregados</h4>
            <table class="table table-striped table-boxshadow" id="tabla1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fotografía</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int it = 1;
                    }
                    @foreach (var a in Model.UltimasActoresAgregados)
                    {
                        <tr>
                            <td>@(it++)</td>
                            <td>
                                <img asp-append-version src="~/Imagenes/Actores/@(a.Id).jpg"
                                     style="width:100px; height:100px;  border-radius: 50%;">
                            </td>
                            <td>@a.Nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



</div>